html {
    height: 100%;
}

#only{
    background-image: url('http://www.omarimc.com/wp-content/uploads/2017/09/Open-piano-istock-easybuy4u-20170331_0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 13px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#specialH1 {
    font-weight: 700;
    size: 5em;
}

#speicalhr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn {
  margin-right: 5px;
}
